<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Forget Password</title>
    <link rel="icon" type="image/x-icon" href="/images/iconimages/edit_4.png">
</head>
<body class="bg-zinc-900 text-white">
    <header>
        <nav class="flex justify-between mx-5 my-5">
            <div class="flex justify-between">
                <img src="/images/iconimages/edit_4.png" width="25" height="21" alt="icon">
                <a class="mx-2" href="/">SayMyName</a></div>
            <div class="flex justify-between gap-2">
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/">Login</a></div>
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/support">Need Support</a></div>
        </div>
        </nav>    
    </header>
    <main class="flex justify-center gap-40 bg-zinc-700 h-144 p-10">
        <div id="forgetpasswordform">
            <p class="text-xl">Reset Password</p>
            <form class="flex flex-col mt-5 mb-5" action="/getresetpasswordotp" method="post">
                <div>
                    <p class="text-md mb-2">Get Code</p>
                    <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="emailorusername" id="emailorusername" placeholder="email or username">
                    <button class="rounded-md mb-2 px-2 py-1 outline-none border border-1 bg-zinc-900 text-white-700 border-zinc-900 hover:bg-white hover:text-zinc-900" type="submit">Get Code</button>
                    <% if(success_msg && success_msg.length > 0)  { %>
                        <% success_msg.forEach((success) => { %>
                           <p class="text-xs rounded-md text-zinc-900 bg-green-300 mb-2 p-1"> <%= success %> </p> 
                           <%  }); %>
                        <% } %>  
                     <% if(otp_error_msg && otp_error_msg.length > 0)  { %>
                         <% otp_error_msg.forEach((error) => { %>
                            <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                              <%  }); %>
                        <% } %>  
                        <% if(invalid_email_error_msg && invalid_email_error_msg.length > 0)  { %>
                            <% invalid_email_error_msg.forEach((error) => { %>
                               <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                               <%  }); %>
                            <% } %>  
                </div>
            </form>
            <div class="border-1 border-zinc-400"></div>
            <form class="flex flex-col mt-5" action="/resetpassword" method="post">
                <p class="text-md mb-2">Set Password</p>
                  <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="email" id="email" placeholder="email">
                  <input class="rounded-md mb-2 px-2 py-1 outline-none border border-2 border-zinc-500" type="text" name="verificationcode" id="verificationcode" placeholder="Verification Code">
                  <input class="rounded-md mb-2 px-2 p-1 outline-none border border-2 border-zinc-500 text-zinc-300" type="text" name="newpassword" id="newpassword" value="" placeholder="new password">
                  <button class="rounded-md mb-2 px-2 py-1 outline-none bg-zinc-900 w-1/2 hover:bg-white hover:text-zinc-900" type="submit">Reset</button>
                  <% if(email_invalid_error_msg && email_invalid_error_msg.length > 0)  { %>
                    <% email_invalid_error_msg.forEach((error) => { %>
                       <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                       <%  }); %>
                    <% } %>  
                  <% if(code_invalid_error_msg && code_invalid_error_msg.length > 0)  { %>
                    <% code_invalid_error_msg.forEach((error) => { %>
                       <p class="text-xs rounded-md text-zinc-900 bg-red-300 mb-2 p-1"> <%= error %> </p> 
                       <%  }); %>
                    <% } %> 
                  <% if(reset_sucess_msg && reset_sucess_msg.length > 0)  { %>
                    <% reset_sucess_msg.forEach((success) => { %>
                       <p class="text-xs rounded-md text-zinc-900 bg-green-300 mb-2 p-1"> <%= success %> </p> 
                       <%  }); %>
                    <% } %>  
            </form>
        </div>
    </main>

    <footer>
        <div class="flex justify-center items-center my-2 h-[32px]">
            <div>
                SayMyName® - 2025    
            </div>
        </div>      
    </footer>
    
</body>
</html>