<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Update Profile</title>
    <link rel="icon" type="image/x-icon" href="/images/iconimages/edit_4.png">
</head>
<body class="bg-zinc-900 text-white">
    <header>
        <nav class="flex justify-between mx-5 my-5">
            <div class="flex justify-between">
                <img src="/images/iconimages/edit_4.png" width="25" height="21" alt="icon">
                <a class="mx-2" href="/">SayMyName</a></div>
            <div class="flex justify-between gap-2">
                <div class="flex hover:bg-white hover:text-zinc-900 rounded-md px-2 py-1 gap-2">
                    <img class="rounded-full border object-cover" src="<%= user.profileimage %>" width="25" height="25" alt="userprofilepicture">
                    <div class=" text-sm"><a href="/profile">Profile</a></div>
                    </div>
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/Home">Home</a></div>
            <div class="hover:bg-white hover:text-zinc-900 rounded-md p-1 text-sm"><a href="/logout">Logout</a></div>
        </div>
        </nav>    
    </header>
    
    <main class="flex justify-center gap-40 bg-zinc-700 h-144 p-10">
        <div>
        <div class="bg-zinc-800 p-4 rounded-md" id="postcontainer">
            <div class="flex gap-2">
            <img class="rounded-full border object-cover" src="<%= post.userid.profileimage %>" width="20" height="20" alt="userprofilepicture">
            <p class="text-white text-sm">@<%= post.userid.username %></p>
            </div>
             <div class="border border-3 overflow-hidden rounded-md mt-2"><img class="object-cover" src="<%= post.postdata %>" height="" width="300" alt="postimage"></div> 
            <p class="text-[16px] text-white mt-1"><%= post.caption %></p> 
            <a class=" rounded-md hover:bg-white hover:p-1" href="/like/<%= post._id %>">❤</a>
            <a class=" rounded-md hover:bg-zinc-900 hover:text-white"><%= post.likes.length %> likes</a>
            <a class=" rounded-md hover:bg-zinc-900 hover:text-white"> <span> 🗨 </span><%= post.comment.length %> comments</a>
            <div>
            <form action="/commentpost/<%= post._id %>" method="post">
            <input class="rounded-md m-1 px-1 outline-none border border-1 border-zinc-500 w-[130px] placeholder:text-[12px]" type="text" name="comment" placeholder="enter comment">
            <button  class="rounded-md mb-2 outline-none border border-1 bg-zinc-900 text-white-700 border-zinc-900 hover:bg-white hover:text-zinc-900 w-[45px]" type='submit'><p>Post</p></button>
            </form>
            </div>
            <p class="px-1 text-white text-[10px]">01:25PM, July 25 2025</p>
        </div>
        </div>
        <div class="flex flex-col gap-8">
        <div class="border-1 p-8 rounded-md border-zinc-900 bg-zinc-800">
        <p class="text-xl mb-4">User Liked</p>
        <ul class="list-disc text-sm">
           <% post.likes.forEach((post)=>{  %>
            <li>@<%= post.username %></li>
            <% }) %>
        </ul>
    </div>
    <div class="border-1 p-8 rounded-md border-zinc-900 bg-zinc-800">
        <p class="text-xl mb-4">Comments</p>
        <ul class="list-disc text-sm">
            <% post.comment.forEach((comment)=>{  %>
           <li> @<%= comment.userid.username %> : <%= comment.comment %> <a class="text-[9px] text-red-600" href="/deletecomment/<%= comment._id%>">delete</a></li>
            <% }) %>
        </ul>
    </div>
</div>
    </main>

    <footer>
        <div class="flex justify-center items-center my-2 h-[32px]">
            <div>
                SayMyName® - 2025    
            </div>
        </div>      
    </footer>
    
</body>
</html>